gd32g553c/GD ARM MCU Debug
gd32g553c/debug_log.txt
build
gd32g553c/gd_dbg
.metadata
plecs/plecs_log_file_path.c
plecs/plecs_log.txt
plecs/ac/plecs_log.txt
gd32g553c/fw_info.exe
*plecs.autosave
plecs/ac/plecs_log_file_path.c
*.log

# Keil local/build artifacts
**/output/
**/Listings/
**/Objects/
*.uvguix.*
*.uvgui.*
*.uvoptx
*.jdebug.user
JLinkLog.txt
EventRecorderStub.scvd
*.crf
*.d
*.o
*.axf
*.hex
*.lnp
*.map
*.dep
*.build_log.htm

# HC32 download-only wrapper project and generated input image
hc32f334/keil_flash/
