<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.gigadevice.debug.gdlink.launchConfigurationType">
    <booleanAttribute key="com.gigadevice.debug.connectUnderReset" value="false"/>
    <stringAttribute key="com.gigadevice.debug.gdlink.server" value="GDLinkGDBServer"/>
    <booleanAttribute key="com.gigadevice.debug.launch.LoadExecFile" value="true"/>
    <stringAttribute key="com.gigadevice.debug.launch.codeinRAM" value="false"/>
    <stringAttribute key="com.gigadevice.debug.launch.device" value="GD32G553CET7"/>
    <stringAttribute key="com.gigadevice.debug.launch.initCommands" value="set mem inaccessible-by-default off"/>
    <booleanAttribute key="com.gigadevice.debug.launch.initialReset" value="true"/>
    <stringAttribute key="com.gigadevice.debug.launch.interface" value="swd"/>
    <stringAttribute key="com.gigadevice.debug.launch.ipAddress" value="localhost"/>
    <stringAttribute key="com.gigadevice.debug.launch.jtagDevice" value="GD-Link"/>
    <intAttribute key="com.gigadevice.debug.launch.portNumber" value="5099"/>
    <booleanAttribute key="com.gigadevice.debug.launch.preRunReset" value="true"/>
    <stringAttribute key="com.gigadevice.debug.launch.remoteCommand" value="target remote"/>
    <stringAttribute key="com.gigadevice.debug.launch.resetCommands.indebug" value="monitor reset init&#13;&#10;load&#13;&#10;"/>
    <stringAttribute key="com.gigadevice.debug.launch.resetCommands.inrun" value="monitor reset init&#13;&#10;load&#13;&#10;"/>
    <stringAttribute key="com.gigadevice.debug.launch.runCommands.indebug" value="monitor reset halt&#13;&#10;monitor halt&#13;&#10;tbreak main&#13;&#10;continue&#13;&#10;"/>
    <stringAttribute key="com.gigadevice.debug.launch.runCommands.inrun" value="monitor reset halt&#13;&#10;continue&#13;&#10;continue&#13;&#10;"/>
    <stringAttribute key="com.gigadevice.debug.launch.serverParam" value="-device GD32G553CET7 -speed 2000 -if swd"/>
    <stringAttribute key="com.gigadevice.debug.launch.svdpath" value="C:\Users\22500238\GD32EmbeddedBuilder_v1.5.2.30854\GD32EmbeddedBuilder\plugins\com.gigadevice.resources_1.0.0.202506041117\svd\GD32G5x3.svd"/>
    <booleanAttribute key="com.gigadevice.debug.launch.useRemoteTarget" value="true"/>
    <stringAttribute key="com.gigadevice.debug.openocd.location" value="C:\Users\22500238\GD32EmbeddedBuilder_v1.5.2.30854\Tools\GDLinkGDBServer\GDLinkGDBServer.exe"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="C:/Users/22500238/GD32EmbeddedBuilder_v1.5.2.30854\Tools\GNU Tools ARM Embedded\xpack-arm-none-eabi-gcc\9.2.1-1.1\bin\arm-none-eabi-gdb.exe"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.UPDATE_THREADLIST_ON_SUSPEND" value="false"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
    <stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="gd_dbg\gd32g553c.elf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="gd32g553c"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.gigadevice.mbs.arm.configuration.debug.388775432"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/gd32g553c"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_APPEND_TO_FILE" value="true"/>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="D:\project\base\gd32g553c\debug_log.txt"/>
    <stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;memoryBlockExpressionList context=&quot;reserved-for-future-use&quot;&gt;&lt;gdbmemoryBlockExpression address=&quot;536871016&quot; label=&quot;usart0_rx_buff&quot;/&gt;&lt;/memoryBlockExpressionList&gt;"/>
    <stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
</launchConfiguration>
